#nextRound {
  display: none;
}
#op {
  margin-bottom: 50px;
}
#victory {
  display: none;
}

/*overall font and background color*/
body {
  font-family: "Yusei Magic";
  font-size: 50px;
  background-image: url("images/galaxy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: snow;
}
 button {
   font-family: "Yusei Magic"
 }

/*start screen*/
.new-game-page {
  background-image: url("images/galaxy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.new-game-elem {
  margin-top: 15%
}

.new-game-page p {
  display: inline-block;
  margin: 0;
  background-color: rgba(54, 209, 217, .6);
  border-radius: 10%;
}

 #new-game {
   font-size: 50px;
   border-radius: 30%;
 }


/*progress bar*/
.progress {
  width: 100%;
}
 #rocketContainer {
   width: 100%;
   height: 100px;
   position: relative;
   display: inline-block;
 }

 #rocket {
   width: 150px;
   height: 100px;
   position: relative;
 }

 #planetContainer {
   position: fixed;
   top: 0;
   right: 0;
 }

/*game styling*/
.game {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  margin-top: 10%;
}
.answerForm {
  display: inline;
  margin: 0;
  padding: 0;
}

.equation {
  display: inline;
  text-align: center;
  background-color: rgba(54, 209, 217, .8);
  border-radius: 10%;
}

.answerForm input[type=text] {
  width: 60px;
  height: 70px;
  font-family: "Yusei Magic";
  font-size: 50px;
  text-align: center;
  border-radius: 10%;
  border: none;
  background-color: rgba(54, 209, 217, .8);
  color: snow;
}

.answerForm input[type=text]:focus {
  outline: none;
}

/*hint image display*/
.hint {
  width: 75%;
  margin: auto;
  display: none;
}

.star {
  width: 200px;
  height: 200px;
}
